<MWconfig>
  <grid>
    <useEXTGRID>0</useEXTGRID>
    <gridsize>
      <x>660</x>
      <y>660</y>
    </gridsize>
    <gridfile></gridfile>
    <delta>
      <x>1</x>
      <y>1</y>
    </delta>
    <ixsL>160</ixsL>
    <ixsR>160</ixsR>
    <jysB>160</jysB>
    <jysT>160</jysT>
    <frequencyInterval>50</frequencyInterval>
    <angleInterval>50</angleInterval>
    <spongeLayerType>162</spongeLayerType>
    <waveGeneration>
      <line>162</line>
      <jline>161</jline>
      <iline>0</iline>
    </waveGeneration>
    <lenD>
      <mu>1.04</mu>
      <aaa>60</aaa>
    </lenD>
  </grid>
  <timestep>
    <delt>0.05</delt>
    <twfin>20</twfin>
  </timestep>
  <wavechar>
    <hw>1</hw>
    <tw>5</tw>
    <rw>90</rw>
  </wavechar>
</MWconfig>